<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
       name="viewport"
       content="width=device-width, initial-scale=1.0" />
    <title>On the Subject of Hexadecimal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script>
      document.querySelector("form").addEventListener("submit", function() {
          setTimeout(() => this.reset(), 10);
      });
    </script>
  </head>
  <body>
    <div class="page">
      <a href="/" class="btn-back">
          <i class="fas fa-arrow-left"></i> Home
      </a>
      <div class = "content">
        <h1>On the Subject of Hexadecimal</h1>
        <div class ="calculator">
          <p><form action="/hexadecimal" method="post" autocomplete = "off">
              <p><label for="digits">Enter the digits:</label></p>
              <input type="text" name="fake" style="display:none">
              <p><input type="text" id="digits" name="digits" required autocomplete="off"/></p>
              <p><button type="submit">Calculate</button></p>
          </form></p>
        </div>
        <div class="product">
         {% if answer %}
         <div>
             <h2>Answer:</h2>
             <p class = "answer">{{ answer }}</p>
         </div>
         {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>